%ul.list-inline.text-center
  %li.list-inline-item.px-3
    %a{href: "", title: "Twitter"}>
      %i.display-3.ion-social-twitter-outline
    \ 
  %li.list-inline-item.px-3
    %a{href: "", title: "Google"}>
      %i.display-3.ion-social-googleplus-outline
    \ 
  %li.list-inline-item.px-3
    %a{href: "", title: "Facebook"}
      %i.display-3.ion-social-facebook-outline