%section.bg-alt
  .container
    %h2.text-center.pb-2
    .row.wow.fadeInUp
      .col-md-8.col-md-ml-auto.col-12
        .card
          .card-img-top
          .card-body
            .text-secondary.small
              %p Error 404: Page Not Found
            %h1.display-1 Oops.
            %h2
              We can't seem to find the page you're looking for.
            %p.lead.mt-3
              You may be able to find what you expected here if you,
              %br/
              %a{:href => "javascript:history.back()"} go back
              or
              = succeed "." do
                %a{:href => "/"} start at home
    %hr/