// UW Brand Colors per https://www.washington.edu/brand/graphic-elements/primary-color-palette/
$uw-purple: #4b2e83;
$uw-gold: #e8e3d3;
$uw-metallic-gold: #85754d;
$uw-light-gray: #d9d9d9;
$uw-dark-gray: #444444;
$uw-white: #ffffff;
$uw-black: #000000;